@use "sass:color";
@use "../variables" as *;

$color: #0a6e50;

.attributes {
  position: relative;

  & legend {
    padding: 0 1rem;
    border: 1px solid #ccc;
    background-color: $bg3;
    font-size: 1.3rem;
    margin: auto;
  }
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: $btnColor;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($btnColor, 9%);
    transition: background-color 0.3s ease;
  }
}
.hide {
  display: none !important;
}

.attributeTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid #ccc;

  & thead {
    background-color: $input;
    border: 1px solid #ccc;
  }
  & tbody {
    background-color: $bg;
  }
  & tr {
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;

    & th {
      padding: 0.5rem;
      border: none;
      text-align: center;
    }

    & td {
      padding: 0.5rem;
      border: none;
      text-align: center;

      & input {
        margin: auto;
        width: 5rem;
        height: 2rem;
        padding: 0.2rem !important;
        text-align: center;

        &::placeholder {
          text-align: center;
        }
      }
    }
  }
}
.attrDeleteBtn {
  height: 2.5rem;

  & img {
    cursor: pointer;
  }
}

.btn1 {
  background-color: $litetext;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: not-allowed;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($litetext, 20%);
    transition: background-color 0.3s ease;
  }
}

// TAGS
.e-tags {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;

  & .e-tag-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      color: #fff;
      text-align: center;
      background-color: $color;
      border-radius: 1rem;
      padding: 0.3rem;

      & p {
        font-size: 1rem;
        line-height: 0;
        padding: 0.4rem;
      }

      & i {
        position: relative;
        font-size: 0.5rem;
        padding: 0.4rem;
        margin-top: 0.1rem;
        cursor: pointer;
        border-radius: 50%;
        background-color: color.adjust($color, $lightness: 5%);
        // background-color: #138664;
        transition: all 0.2s ease;

        &:hover {
          background-color: color.adjust($color, $lightness: -5%);
          transition: all 0.2s ease;
          
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid color.adjust($color, $lightness: 15%);
            width: 1.4rem;
            aspect-ratio: 1;
            border-radius: 50%;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
}
