$bg: #e8ebed;
$bg2: #f3f5f6;
$text: #1c2439;
$subtext: #272f43;
$litetext: #888c97;
$border: #d4d8dc;

$topbarbg: #d9d9d9;
$admin: #de4927;
$topbarbg: #d9d9d9;
$profilebg: #f3f5f6;

.b-e {
  border: 1px solid $border;
}
.b-b-e {
  border-bottom: 1px solid $border;
}
.bg-admin {
  background-color: $admin;
}
a {
  color: $text;
  text-decoration: none;
}
.bg-hov-e:hover {
  background-color: $bg2;
}