@use "../variables/vars" as *;
/* MAIN CONTAINER */
.main {
  position: absolute;
  top: 6rem;
  left: 21.5%; /*NAV */
  width: calc(100% - 25.5%);
  height: 100%;
  z-index: 3;
  background-color: $bg2;
  border: 1px solid $border;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 0.3s ease;
}
// JSU
.mainexp {
  left: 5rem;
  width: calc(96% - 5rem);
  transition: all 0.3s ease;
}
@media screen and (max-width: 1080px) {
  .main {
    left: 10rem; /*NAV */
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: calc(100% - 10rem);
    transition: all 0.3s ease;
  }
}
