@use "../variables/vars" as *;

.bg {
  background-color: $bg;
}

// SUMMERNOTE CUSTOMIZE
.note-modal-backdrop {
  display: none !important;
  z-index: -1;
}
.note-modal {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity 0.3s ease;
}
.note-modal-content {
  width: 50%;
  z-index: 5;
  margin-top: 50%;
}
.note-btn-primary {
  margin-right: 1rem !important;
  margin-top: -1rem !important;
}